
<web-app >
  <display-name>Servlet2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    
  </welcome-file-list>
  
  
  <servlet>
     <servlet-name>getformValues</servlet-name> 
     <servlet-class>com.bitlabs.getController</servlet-class> 
  </servlet>
  
  <servlet-mapping>
  <servlet-name>getformValues</servlet-name>
  <url-pattern>/reqPrintValues</url-pattern>
  
  </servlet-mapping>
</web-app>